<tr>
  <td><%= recipe_food.food.name %></td>
  <td><%= "#{recipe_food.quantity} #{recipe_food.food.measurement_unit}" %></td>
  <td><%= button_to "Delete", "#{request.url}" +"/remove/#{recipe_food.id}", method: :post, class: 'delete-btn'  %></td>
</tr>