<%= render partial: "shared/header" %>
<div class="container">
  <h1>My Recipes</h1>
  <div class='recipes'>
    <% @recipes.each do |recipe|%>
      <div class='recipe'>
        <div class='left'>
          <p class='r-name'><%= recipe.name%> </p>
          <%= button_to "Delete", recipes_destroy_path(id: recipe.id), method: :post, class: 'delete-btn'  %>
        </div>
        <div class='right'>
          <p class='r-description'><%= recipe.description%></p>
        </div>
      </div>
    <%end%>
  </div>
</div>